@charset "UTF-8";

:root {
    --cinzaclaro: #E8D5D3;
    --cinzaescuro: #B2ADB4;
    --vermelho: #CE2928;
    --vermelhoescuro: #9E2224;
    --marrom: #362022;
    --preto: #000000;
    --branco: #ffffff;
}